<h1>Welcome to your cellar <%=current_user.username%>
<br>
<h2>Currently Stocked Brews</h2>

<%@brews.each do |brew| %>
    <div>
        <p>Brewery: <%=brew.brewery%></p>
        <p>Brand: <%=brew.beer_name%></p>
        <p>ABV%: <%=brew.abv%></p>
        <p>Packaging Date: <%=brew.package_date%></p>
    </div>
<%end%>