<h1>Welcome to your cellar <%=current_user.username%>
<br>
<h2>Currently Stocked Brews</h2>

<%@brews.each do |brew| %>
    <div>
        <p><b>Brewery:</b> <%=brew.brewery%></p>
        <p><b>Brand:</b> <%=brew.beer_name%></p>
        <p><b>ABV%:</b> <%=brew.abv%></p>
        <p><b>Packaging Date:</b> <%=brew.package_date%></p>
        <a href="/brews/<%=brew.id%>/edit">Edit This Brew</a>
        <br>
        <br>
        <p><b>---------------------------------</b></p>
    </div>
<%end%>

<a href="/brews/new">Add A New Brew To Your Cellar</a>
<br>
<br>
<a href="/logout">Log Out</a>