<%if @brew%>

<p><b>Brewery:</b> <%=@brew.brewery%></p>
<p><b>Brand:</b> <%=@brew.beer_name%></p>
<p><b>ABV%:</b> <%=@brew.abv%></p>
<p><b>Packaging Date:</b> <%=@brew.package_date%></p>

<form action="/brews/<%=@brew.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Brew">
</form>
<br>
<a href="/brews/<%=@brew.id%>/edit">Edit This Brew</a>
<br>
<br>
<a href="/brews">Back To Your Cellar</a>
<%else%>
<p>You don't have any brews in your cellar!</p>
<a href="/brews/new">Add A New Brew To Your Cellar</a>
<%end%>